<%- include('../partials/head') %>

    <div class="container mt-5 mb-5">
        <div class="row">

            <% if (product.length !==0) { %>

                <% product.forEach((element, index)=> { %>

                    <div class="col-4">
                        <div class="card mb-3 text-center">
                            <a href="/products/<%= element.slug %> ">
                                <img src="<%= element.image2 %>" onmouseover="<%= element.image2 %>" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= element.name %>
                                </h5>
                                <p class="card-text">
                                    $<%= element.price %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <% }); %>

                        <% } else { %>

                            <p>No product is available</p>

                            <% } %>

        </div>
    </div>

    <%- include('../partials/foot') %>