<%- include('../partials/head') %>

<script src="../../static/addtocart.js" async></script>

    <div class="d-flex ms-5 mt-5 mb-5">

            <div class="p-2 flex-shrink-1">
                <img class="img-fluid product-image" src="<%= product.image2 %>">
            </div>

            <div class="p-2 card text-center">
                <h5 class="card-title product-name">
                    <%= product.name %>
                </h5>
                <p class="card-text product-price">
                    $<%= product.price %>
                </p>
                <p class="mb-5"><%= product.description %></p>
                
                <div class="btn-group">
                    <% if (user) { %>
                
                        <a href="/home" class="btn btn-sm btn-dark">Return home</a>
                        <button class="btn btn-sm ms-1 btn-dark addtocart-button" type="submit">Add to cart</button>
                
                        <% } else { %>                
                            
                            <a href="/home" class="btn btn-sm btn-dark">Return home</a>
                            <button class="btn btn-sm ms-1 btn-dark addtocart-button" type="submit">Add to cart</button>
                
                            <% } %>
                </div>
            </div>

            <div class="p-2 w-50 flex-shrink-0 ms-5 me-2" id="cartNav">
                <h2>Add this Item to cart</h2>
                <form method="POST" action="/cart">
                <table class="table table-sm table-responsive table-borderless">

                    <thead class="cart-row">
                        <tr class="table-active d-flex">
                            <th class="cart-item col-5" scope="col">Item</th>
                            <th class="cart-price col-2" scope="col">Price</th>
                            <th class="cart-quantity col-3" scope="col">Quantity</th>
                        </tr>
                    </thead>

                    <tbody>
                    
                        <tr scope="row">
                            <td colspan="3">
                                <table class="cart-items table table-sm table-responsive table-borderless mb-5">
                                    
                                </table>
                            </td>
                        </tr>

                        <tr class="cart-total table-danger d-flex" scope="row">
                            <td class="cart-total-name col-3"><b>Total</b></td>
                            <td class="cart-total-price col-2"><b>$0</b></td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group mr-2" role="group">
                                        <button class="btn btn-sm btn-secondary btn-buyNow mt-5" type="button">Buy now</button>
                                    </div>

                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm ms-1 btn-secondary mt-5" id="confirmCart" type="submit">Confirm cart</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    
                    </tbody>

                </table>
                </form>
            </div>

    </div>

    <%- include('../partials/foot') %>